.todolist__list-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

.todolist__list-items_checkbox-container {
    width: 15%;
}

.todolist__list-items_info-container {
    width: 70%;
    word-wrap: break-word;
}

.todolist__list-items_completed-todo {
    color: green;
    text-decoration: line-through;
}

.todolist__list-items_delete-button-container {
    width: 15%;
}

.todolist__list-items_checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.todolist__list-button {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.todolist__list-items_name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.completedTodo {
    text-decoration: line-through;
}

.todolist__list-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.todolist__add-todo_description-input {
    width: 100%;
    resize: none;
}