.news-page__item-container {
    display: flex;
    box-sizing: border-box;
    width: 90%;
    height: 49vh;
    margin: 15px auto;
}

.news-page__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 3px black solid;
    padding: 20px;
    font-size: 38px;
}

.news-page__item_empty {
    margin: 50% auto;
}

.news-page__item_title {
    font-size: 42px;
    font-weight: bold;
}

.news-page__item_img-container {
    height: 30%;
}

.news-page__item_img {
    max-width: 100%;
    height: auto;
}

.news-page__item_article {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50%;
}

.news-page__item_read-full-news {
    margin-top: auto;
    margin-bottom: 0;
}

.news-page__item_read-full-news-button {
    font-size: 36px;
}